name: update freephase rates

permissions:
  contents: write

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Fetch EDF half-hourly and compute band rates
        run: |
          set -euo pipefail

          TODAY=$(date -u +"%Y-%m-%d")
          TOMORROW=$(date -u -d "+1 day" +"%Y-%m-%d")

          EDF_URL="https://acq-api.pri.cus-chnnls-sales-core.aws.edfcloud.io/half-hourly-unit-rates"

          # Fetch todays data
          curl -s -X POST "$EDF_URL_
