name: Update FreePhase rates

on:
  schedule:
    - cron: "0 */1 * * *"   # every hour
  workflow_dispatch:

jobs:
  update-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install jq
        run: |
          sudo apt update
          sudo apt install -y jq

      - name: Fetch rates
        run: |
          set -euo pipefail

          API="https://api.edfgb-kraken.energy/v1/products/EDF_FREEPHASE_DYNAMIC_12M_HH/electricity-tariffs/E-1R-EDF_FREEPHASE_DYNAMIC_12M_HH-E/standard-unit-rates/"

          TODAY_DATE=$(date -u +"%Y-%m-%d")
          TOMORROW_DATE=$(date -u -d "+1 day" +"%Y-%m-%d")
          DAY_AFTER_DATE=$(date -u -d "+2 days" +"%Y-%m-%
